.form:target{
  display: block;
}
.right{
	float: right;
	width: 25%;	
	margin-top: 30px;
	border : double;
}
.users{
	overflow-y: auto;
	height:390pt;
	margin-left:2%;
}
.scroll{
	margin-left: 2%;
	overflow-y: auto;
	height:350pt;
}
.messagecontainer{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:0px;
	border-color: black;
	border:double;	
}